<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'inc/menu.html.twig' %}
        {% block content %}{% endblock %}
        {% include 'inc/footer.html.twig' %}
    </body>
</html>
