<style>
#img-footer {
    width: 150px;
    padding-top: 30%;
}
</style>
<div class="bg-dark footer" id="contact">
    <div class="container-fluid col-12">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-3">
                <img id="img-footer" class="img-responsive" src="{{asset('assets/images/Logo.png')}}" alt="">
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <span class="col-md-4 text-white text-center"><img src="{{asset('assets/images/tel.png')}}" alt=""> <br> <br> <h5>00221 77 241 75 26 </h5><h5>00221 33 837 00 67</h5></span>
            <span class="col-md-4 text-white text-center"><img src="ressources/mail2.png" alt=""><br><br> <h5>dialloquinz@lgmail.com</h5></span>
            <span class="col-md-4 text-white text-center"><img src="ressources/localisation.png" alt=""><br><br> <h5>21/D, GUÉDIAWAYE, Marché Nidareem</h5><h5>Dakar-Sénégal</h5></span>
        </div>
    </div><br><br>
    <div class="foot">
        <p class="text-center text-white">Copyright &#169; 2019 Mariama. Tous droits réservés</p>
    </div>
</div>